<!-- <pichincha-typography
  variant="h1"
  color="blue"
  weight="normal"
  weight_color="500"
  align="center"
  class="bp-mb-16"
>
  Formulario con Desing System
</pichincha-typography>

<form [formGroup]="requestForm">
  <pichincha-grid
    container
    direction="column"
    align_items="center"
    justify="center"
  >
    <pichincha-grid item md="3" xs="6">
      <pichincha-input
        nameElement="idNombre"
        id-element="idNombre"
        type="text"
        label="Nombre:"
        placeholder="Juan"
      ></pichincha-input>
    </pichincha-grid>
    <pichincha-grid item md="3" xs="6">
      <pichincha-input
        id-element="idApellido"
        label="Apellido:"
        placeholder="Cedeño"
      ></pichincha-input>
    </pichincha-grid>
    <pichincha-grid item md="3" xs="6">
      <pichincha-input
        id-element="idCorreo"
        label="Correo:"
        placeholder="jcedeno@pichincha.com"
      ></pichincha-input>
    </pichincha-grid>
  </pichincha-grid>
  <div class="bp-mt-24">
    <pichincha-grid container align_items="center" spacing="2" justify="center">
      <pichincha-grid item xs="2">
        <pichincha-button
          type="submit"
          (clickbutton)="onclickbutton($event)"
          size="medium"
          id="button"
          color="primary"
        >
          Enviar
        </pichincha-button>
      </pichincha-grid>
      <pichincha-grid item xs="2">
        <pichincha-button
          (clickbutton)="onclickbutton($event)"
          size="medium"
          id="button"
          color="secondary"
        >
          Cancelar
        </pichincha-button>
      </pichincha-grid>
    </pichincha-grid>
  </div>
</form> -->
<form [formGroup]="withdrawalForm">
  <div class="review-request__values bp-mt-40">
    <app-custom-input
      ngDefaultControl
      [currencyField]="true"
      [formControlName]="labels.withdrawalValue.name"
      [fullWidth]="true"
      [idElement]="labels.withdrawalValue.id"
      [label]="labels.withdrawalValue.label"
      [placeholder]="labels.withdrawalValue.placeholder"
      [showTooltipOnChange]="true"
      [state]="stateInput"
      [tooltip]="labels.withdrawalValue.tooltip"
      [type]="labels.type"
    ></app-custom-input>
    <pichincha-input
      appInputAccessor
      type="text"
      idElement="input-validacion-contrasena"
      [label]="labels.inputReason"
      [placeholder]="'hola'"
      [fullWidth]="true"
      [maxLength]="200"
      [state]="stateInput"
    ></pichincha-input>
    <app-horizontal-divider [margin_top]="19" [margin_bottom]="19"></app-horizontal-divider>
    <pichincha-input
      appInputAccessor
      [formControl]="observationControl"
      type="text"
      idElement="input-validacion-contrasena"
      [label]="labels.observations"
      [placeholder]="labels.observationsInfo"
      [normalHelper]="labels.errorHelper"
      [errorHelper]="labels.errorHelper"
      [fullWidth]="true"
      [maxLength]="200"
    ></pichincha-input>
  </div>
  <div class="bp-mt-40 review-request__actions">
    <pichincha-button (clickbutton)="saveRequest('Aprobado')" color="primary">
      {{labels.actionApproved}}
    </pichincha-button>
    <pichincha-button (clickbutton)="saveRequest('Rechazado')" [disabled]="!(observationControl.value.length >0)" color="secondary">
      {{labels.actionRejected}}
    </pichincha-button>
  </div>
</form>